@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}

#wrap {
	width: 1890px;
	height: 1400px;
	background-color: white;
}

#header {
	height: 7%;
	position: fixed;
	top: 0px;
	background-color: #4de22f;
}

#header #headerbar {
	margin: auto;
	width: 1890px;
}

#main {
	height: 86%;
	margin-top: 2%;
}

#main #mainbar {
	width: 100%;
}

#footer {
	height: 6%;
	background-color: white;
}

#footer #footerbar {
	margin: auto;
	width: 1700px;
}

#bandLisgheader {
	margin-top: 20px;
}

#a1 {
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 18px;
}

#a2 {
	text-decoration: none;
	color: black;
}

#bandList3 {
	display: inline-block;
}

#bandList4 {
	display: inline-block;
	border-radius: 40px;
	background-color: transparent;
	border: 2px solid white;
	height: 28px;
}

#div1_makeband {
	display: inline-block;
	float: right;
}

#div2_makeband {
	border: 1px solid black;
	text-align: left;
	width: 200px;
	clear: right;
	float: right;
	display: none;
	z-index: 200;
	background-color: white;
}

.bandList1 {
	background-color: transparent;
	border: none;
}

#bandList_triangle {
	opacity: 0.5;
}

#bandList_sel {
	background-color: #f5f5f5;
	height: 40%;
	padding: 30px 100px;
	border-bottom: 1px solid #999;
}

#makeband {
	background-color: #a1a1a1;
	width: 180px;
	height: 200px;
	text-align: center;
	display: inline-block;
	line-height: 200px;
}

.join_band{
	display: inline-block; 
	width: 180px; 
	height: 200px; 
	margin-left: 20px;
	font-size: 15px;
}

.join_band #membersoo{
	color: gray;
}

#add {
	width:180px;
	height: 185px;
	text-align:center;
	overflow:hidden;
	display: inline-block;
	background-color: #a1a1a1;
}

#category {
	background-color: #f5f5f5;
	height: 40%;
	padding: 30px;
}