
iframe{
	width:100%
}

.comment_textarea {
	outline: none;
    width: 300px;
    height: 300px;
    border-radius: 13px;
    border: 1px solid #999;
    resize: none;
}

#img_preview{
	position: relative; top:0; left: 0;
	width: 250px;
	height: 250px; 
	
}

.boardList{	
	height:auto;
	background-color:#ececec;
	display: block;
	margin-bottom: 11px; 
}

#notice{
	height:auto;
	background-color:#ececec;
	display: block;
	margin-bottom: 11px; 
}

#searchFrom{
	padding: 22px;
}

#searchInput{
	box-shadow: 0 4px 2px -2px #bbbbbb;
}

#searchBtn{
	box-shadow: 0 4px 2px -2px #bbbbbb;
}

#postWrite{
	padding: 22px;
}

#board_view{
	padding: 22px;
}

#writeContent{
	width:100%;
	padding:11px;
	min-height: 100px;
    background: #fff;
    border-radius: 2px;
    line-height: 1.5;
    outline: 0;
    box-shadow: 0 4px 2px -2px #bbbbbb;
}

#content_view{
	margin : 11px;	
}



#noticWrap{
	margin: 11px;
	padding:8px;
    background: #fff;
    border-radius: 2px;
    line-height: 1.5;
    outline: 0;
    box-shadow: 0 4px 2px -2px #bbbbbb;
}

#notictitle{
	margin-bottom: 5px;
	border-bottom: 11px solid #f5f5f5;
}

#contentEditor{
	width:100%;
	padding:11px;
	min-height: 100px;
    background: #fff;
    border-radius: 2px;
    line-height: 1.5;
    outline: 0;
    box-shadow: 0 4px 2px -2px #bbbbbb;
}

.contentEx{
	color : #999;
}

#searchTxt{
	width: 100%
}

span .btn.btn-default{
	height: 100%;
}

.notic_li{
	font-weight: 400;
	display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: 1px solid #f5f5f5;
    font-size: 14px;
}

.notic_strong{
	font-weight: 400;
	    color: #21c700!important;
}


